node_modules
.next
.gh-config
playwright-report
test-results
*.tsbuildinfo
*.network-response
tasks/*server*.out
tasks/*server*.err
out
dist
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
